.container {
    background-color: lightblue;
    width: 60%;
    height: 500px;
    margin: 10px;
    display: flex;
}

.nav {
    background-color: lightpink;
    width: 300px;
    height: 200px;
    margin: 15px;
}

.container2 {
    background-color: lightblue;
    width: 60%;
    height: 500px;
    margin: 10px;
    display: flex;
    justify-content: flex-end;
}

.container3 {
    background-color: lightblue;
    width: 60%;
    height: 500px;
    margin: 10px;
    display: flex;
    align-items: flex-end;
}

.container4 {
    background-color: lightblue;
    width: 60%;
    height: 500px;
    margin: 10px;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}

.container5 {
    background-color: lightblue;
    width: 60%;
    height: 500px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.container6 {
    background-color: lightblue;
    width: 60%;
    height: 500px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container7 {
    background-color: lightblue;
    width: 60%;
    height: 500px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container8 {
    background-color: lightblue;
    width: 60%;
    height: 500px;
    margin: 10px;
    display: flex;
}

.container9 {
    background-color: lightblue;
    width: 60%;
    height: 500px;
    margin: 10px;
    display: flex;
    justify-content: center;
}

.container10 {
    background-color: lightblue;
    width: 60%;
    height: 500px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container11 {
    background-color: lightblue;
    width: 60%;
    height: 500px;
    margin: 10px;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.container12 {
    background-color: lightblue;
    width: 60%;
    height: 500px;
    margin: 10px;
    display: flex;
}